.App {
  text-align: center;
}


form{
  text-align: center;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
 
}

h1{
  text-align: center;
  color: purple;
}

.label{
  font-size: 20px;
  font-weight: bold;
  color: rgb(92, 1, 92);
}

*{
  background-color: rosybrown;
}

submit{
  font-size: large;
  background-color: cornflowerblue;
}